# Fichiers de données (trop gros)
chunks_marseille.json
.pytest_cache/
evenements-publics-openagenda.json
evenements_marseille.json
embeddings_marseille_cache.json
metadata_marseille.json
8532116-mettez-en-place-un-rag-pour-un-llm-main/
output/
.env

__pycache__/
*.pyc
.venv/
*.egg-info/
o.py
mairie.py
mairie.ipynb
test.py
test.ipynb
# IDE
.vscode/
.idea/